@media (max-width: 1199px) {
  nav ul li a {
    padding: 2.5rem 1rem;
  }
}
@media (max-width: 991px) {
  .navbar-toggler {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 20px;
    color: #fff;
    font-size: 2.25rem;
  }
  .blog-details .navbar-toggler {
    color: #000;
  }
  nav ul {
    width: 100%;
    background: #fff;
    padding: 10px 0;
  }
  nav ul li a {
    display: block;
    text-align: center;
    padding: 1.5rem 1rem;
    color: #000;
  }
  nav ul li a::after {
    /* content: none; */
  }

  nav ul li a:hover {
    color: #000;
  }
  nav ul li.sub-menu .custom-dropdown ul:after {
    right: 50%;
    transform: translateX(50%);
  }
  .widget-container .main-widget {
    min-height: 250px;
  }
  .widget-container .main-widget img {
    height: 180px;
  }
  .home-slider .content {
    margin-top: 3rem;
  }
  .home-slider.inner h2 {
    font-size: 4rem;
  }
  .home-slider.inner p {
    font-size: 2.5rem;
  }
  .home-slider.inner .image img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .about-widget img {
    margin-bottom: 3rem;
  }
  .section-widget {
    padding: 5rem 0;
  }
  .section-widget img {
    margin-top: 5rem;
  }
  .section-widget:nth-child(odd) .col-lg-7 {
    order: 0;
  }
  aside:last-of-type {
    position: static;
    top: 2.5rem;
  }
  .parent.home-slider .image {
    position: static;
    margin-bottom: -15rem;
  }
}
@media (min-width: 991px) {
  nav .collapse {
    display: inline-block;
  }
  nav .collapse li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
  .widget-container .main-widget {
    min-height: 200px;
  }
  .widget-container .main-widget img {
    height: 130px;
  }
  .contact-us .whatsapp {
    margin-bottom: 15px;
  }
  .contact-us .submit {
    margin: auto !important;
    margin-right: 0;
    display: block;
  }
  .contact-us .submit,
  .contact-us .whatsapp div:last-child {
    width: 100%;
  }
  .section-widget a {
    margin: 2rem auto !important;
    width: 80%;
    display: block;
  }
  .covid-19 .widget .counter li {
    padding-right: 8rem;
  }
  .covid-19 .widget .counter li:before {
    width: 5rem;
    height: 5rem;
    line-height: 6rem;
    right: 1.5rem;
  }
  .covid-19 .widget .counter li p {
    width: 100%;
  }
  .study-table .section-title {
    text-align: center;
  }
  .study-table a {
    width: 100%;
  }
  .home-slider.steps {
    padding-top: 15rem;
  }
  .step2 .step-main h3 {
    font-size: 3rem;
  }
  .blog-widget .content .title h3 {
    font-size: 3rem;
  }
  .blog-widget .content .date span {
    font-size: 2rem;
  }
  .blog-widget .content {
    bottom: 80px;
  }
  .slick-dots {
    left: 52%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    /* transform: translateX(-50%); */
    padding: 0;
  }

  .blogs .slick-dots > li.slick-active {
    background-color: #5b5b5b;
  }
  .blogs .slick-dots > li {
    background-color: #6c6c6c;
  }
  .vacance-widget {
    justify-content: start;
  }
  .vertical-news .widget .bookmark {
    top: 220px;
  }
  .news-details {
    padding: 0 2.5rem;
  }
  aside .widget img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 575px) {
  nav > img {
    width: 155px;
  }
  .vacance-widget img {
    height: 130px;
  }
  .vacance-widget {
    height: 170px;
  }
  .news-details .share li a {
    width: 50px;
    height: 50px;
  }
  .news-details h3 {
    font-size: 3rem;
  }
  .news-details {
    padding: 0;
  }
}
