/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/

/* General
======================= */
:root {
  --main-color: #2e2a2a;
  --second-color: #02b9ff;
  --text-color: #77839b;
}
/* Fonts */
@font-face {
  font-family: "Kaff-bold";
  src: url(../vendor/fonts/Kaff-Bold.ttf);
}
@font-face {
  font-family: "Kaff-regular";
  src: url(../vendor/fonts/Kaff-Regular.ttf);
}
@font-face {
  font-family: "ZaridSlab-regular";
  src: url(../vendor/fonts/ZaridSlab-Regular.ttf);
}
*,
*:focus,
*:hover {
  outline: 0 !important;
}
.form-control:focus {
  border-color: unset;
  box-shadow: unset;
}
html {
  font-size: 10px;
  scroll-behavior: smooth !important;
}
body {
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Kaff-regular";
  background-color: #fff;
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kaff-bold";
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
.pos-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}
img {
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
ul {
  list-style: none;
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.custom-btn {
  background-color: #626064;
  border-radius: 16px;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
}
.custom-btn img {
  width: 8px;
  margin-right: 5px;
}
.section-title {
}
.section-title .heading {
  font-size: 3rem;
}
.section-title p {
  font-family: "ZaridSlab-regular";
  font-size: 2.5rem;
}
/* Preload */
.load {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.load img {
  max-width: 220px;
  width: 80%;
}
/* nav
=================== */

nav {
  /* box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  background: #202020;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 998; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}
nav img {
  width: 200px;
  margin: 20px 0;
}
.navbar-toggler {
  display: none;
}

nav ul {
}
nav ul li {
}

nav ul li a {
  color: #fff;
  padding: 25px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
nav ul li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/icons/active.svg);
  width: 0%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #fff;
  text-decoration: none;
}
.blog-details ul li a {
  color: #000;
}
.blog-details ul li a:hover,
.blog-details ul li a:focus {
  color: #000;
}
nav ul li a:hover:after,
nav ul li a.active:after {
  width: 100%;
}

/*home-slider
====================*/
.home-slider {
  background-image: url(../images/bg.png);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12rem;
}
.home-slider .content {
  margin-top: 10rem;
}
.home-slider .content h1 {
  font-size: 3rem;
}
.home-slider .content p {
  font-family: "ZaridSlab-regular";
  font-size: 2.5rem;
  width: 60%;
}
.home-slider .content a {
}
.home-slider .image {
  margin-top: 5rem;
}
.home-slider .image img {
  width: 100%;
}

/* widget-container
============================*/
.widget-container {
  border-radius: 25px;
  overflow: hidden;
}
.widget-container .main-widget {
  flex: 1;
  min-height: 290px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.widget-container .main-widget:first-child {
  background: url(../images/tumb/group3.png);
}
.widget-container .main-widget:nth-child(2) {
  background: url(../images/tumb/group2.png);
}
.widget-container .main-widget:last-child {
  background: url(../images/tumb/group1.png);
}
.widget-container .main-widget.active {
  flex: 2;
}
.widget-container .main-widget h3 {
  font-size: 2.2rem;
}
.widget-container .main-widget p {
  width: 60%;
  transform: translateX(-50px);
  opacity: 0;
}
.widget-container .main-widget a {
  display: inline-block;
  border: 1px solid #211e1e;
  border-radius: 50px;
  padding: 5px 20px;
  font-weight: bold;
  transform: translateX(-50px);
  opacity: 0;
  transition: background 0.3s ease-in-out;
}
.widget-container .main-widget.active p,
.widget-container .main-widget.active a {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.widget-container .main-widget img {
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.widget-container .main-widget a:hover {
  background-color: #211e1e;
  color: #fff;
}
/* how-help 
======================*/
.how-help {
}
.how-help .content {
}
.how-help .content p {
  margin-bottom: 3.5rem;
  font-size: 1.78rem;
  line-height: 1.77;
}
.how-help img {
}

/* form-group
====================*/
.row.rtl {
  direction: rtl;
}
.form-group {
  position: relative;
  margin-bottom: 3rem;
}
.form-group label {
  position: absolute;
  background-color: #fff;
  top: -10px;
  right: 15px;
  z-index: 9;
}
.form-group .form-control {
  height: 55px;
  font-size: 1.5rem;
  padding: 20px 15px 15px;
  border-color: #ebebeb;
}

.form-group textarea.form-control {
  height: 140px;
}
/* contact-us
=====================*/
.contact-us {
}
.contact-us button.submit,
.contact-us input[type="submit"] {
  background-color: #efefef;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 8.5rem;
  display: inline-block;
  cursor: pointer;
  margin-right: 1.5rem;
}
.contact-us .whatsapp {
  height: 6rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.contact-us .whatsapp a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.contact-us .whatsapp div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.contact-us .whatsapp div:first-of-type {
  background: linear-gradient(#04b622, #64ff80);
  width: 6rem;
  color: #fff;
  padding: 0 1.5rem;
}
.contact-us .whatsapp div:last-child {
  background-color: #ebf6dd;
  font-size: 2.5rem;
  padding: 0 1.2rem;
}
.contact-us .whatsapp div p {
  margin: 0;
}
.contact-us .whatsapp div p span {
  font-weight: bold;
}
/* footer
=========================*/
footer {
}
footer .brand {
  max-width: 350px;
  margin: auto;
  width: 100%;
  display: block;
}
footer ul {
  margin: 0 0 1rem;
  padding: 0;
}
footer ul li {
  display: inline-block;
  margin-left: 1rem;
}
footer ul li:last-child {
  margin-left: 0;
}
footer .copyright {
  font-size: 1.2rem;
  margin: 0;
}

ul.socail {
  margin-top: 30px;
  text-align: center;
}
ul.socail li {
  display: inline-block;
  margin: 2px;
}
ul.socail li a {
  color: inherit;
}
ul.socail li i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #a6a6a6;
  cursor: pointer;
  color: #a6a6a6;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}
ul.socail li i:after {
  content: "";
  background: #a6a6a6;
  z-index: -1;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  transform-origin: center;
}
ul.socail li i:hover:after {
  transform: scale(1);
}
ul.socail li i:hover {
  color: #fff;
}
.logo-unicef {
  width: 100px;
  object-fit: contain;
}
/*steps
==========================*/
.home-slider.steps {
  min-height: 100vh;
  position: relative;
}
.step-slider {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}
.step-title {
}
.step-title a {
  font-size: 2rem;
}
.step-title a img {
  width: 25px;
  margin-left: 10px;
  display: inline-block;
}
.step-title p {
  font-family: "Kaff-bold";
  font-size: 2.8rem;
  margin-top: 1.5rem;
}
.h-80 {
  height: 80vh;
}
.step-main {
}
.step-main p {
  font-size: 2.5rem;
}
.step-main .input {
  position: relative;
  max-width: 450px;
  margin: auto;
}
.step-main input {
  background: transparent;
  border: unset;
  width: 90%;
  text-align: center;
  font-size: 5rem;
  font-family: "ZaridSlab-regular";
  color: #fff;
}
.step-main .input:after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-image: url(../images/icons/centre-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.steps .control {
  /* position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9; */
}
.step-main .d-flex label {
  font-size: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}
.steps .control a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.steps .control a:hover {
  transform: translateY(-5px);
}
.step2 .step-main h3 {
  font-size: 4rem;
}
.step2 .step-main img {
  width: 80%;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.step2 .step-main img:hover {
  filter: drop-shadow(2px 4px 6px white);
}
.step-main input[type="radio"] {
  display: none;
}
/* home-slider
==================*/
.home-slider.inner {
  background-image: unset;
  padding-bottom: 15rem;
}
.home-slider.inner.first {
  background-color: #e05f5e;
}
.home-slider.inner.second {
  background-color: #64619f;
}
.home-slider.inner.third {
  background-color: #1d3b5e;
}
.home-slider.inner h2 {
  font-size: 5rem;
}
.home-slider.inner p {
  width: 100%;
  font-size: 3rem;
}
.home-slider.inner .content img {
  width: 100%;
}

/* slider-app
========================*/
.slider-app {
  margin-top: -90px;
}
.slider-app .container {
  position: relative;
}
.slider-app .slick {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 12px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  margin: 0 30px;
}
.slider-app .app {
  text-align: center;
  position: relative;
  border-left: 2px solid #dedede;
}
.slider-app .app a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.slider-app .app .image {
  width: 75px;
  height: 75px;
  background: #efefef;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  margin: 20px auto;
}
.slider-app .app img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-app .app p {
}
.links .app-control .arrow,
.vacances .app-control .arrow,
.image-gallery .app-control .arrow,
.slider-app .app-control .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-app .app-control .arrow.next {
  right: 10px;
}
.slider-app .app-control .arrow.prev {
  left: 10px;
}
.links .app-control .arrow img,
.vacances .app-control .arrow img,
.image-gallery .app-control .arrow img,
.slider-app .app-control .arrow img {
  width: 75px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.links .app-control .arrow:hover img,
.vacances .app-control .arrow:hover img,
.image-gallery .app-control .arrow:hover img,
.slider-app .app-control .arrow:hover img {
  filter: invert(0.1);
}
/* about-widget
=====================*/
.about-widget .image {
  position: relative;
}
.about-widget span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
  background-color: rgb(255 255 255 / 17%);
  color: #fff;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  backdrop-filter: blur(7px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about-widget span i {
  margin-left: 6px;
}
.about-widget p {
  font-size: 2.09rem;
  line-height: 1.5;
}
.about-widget .image:hover span {
  transform: translate(-50%, -50%) scale(0.9);
}
.section-widget {
  padding: 9rem 0;
  border-bottom: 2px solid #efefef;
}
.section-widget h4 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.section-widget h4 a {
  margin: 2rem 0 0 !important;
  display: block;
  background: transparent;
  text-align: revert;
  padding: 0;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Kaff-regular";
}
.section-widget p {
  font-size: 2.2rem;
  line-height: 1.5;
}
.section-widget a,
.study-table a,
.live a,
.soon a {
  background-color: #efefef;
  color: #2a2a31;
  font-weight: bold;
  padding: 15px 30px;
  min-width: 220px;
  text-align: center;
  font-family: "Kaff-bold";
}

.section-widget a:last-child {
  margin-right: 2rem;
}

.section-widget:nth-child(odd) .col-lg-7 {
  order: 2;
}

/* live
==============*/
.live {
}
.live img {
  max-width: 600px;
  margin: auto;
  display: block;
  width: 100%;
}

/* ================*/
.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
  direction: rtl !important;
}
/* ===========*/
.item-step {
  display: none;
}

/* soon
===================*/
.soon .section-title p {
  font-size: 3.2rem;
  color: #d82020;
}

.soon p {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.soon .col-1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 60%;
  height: 100%;
  width: 2px;
  background: #efefef;
}
/* covid-19
==================*/
.covid-19 {
}
.covid-19 img {
  max-width: 550px;
  width: 100%;
  display: block;
  margin: 2rem auto 4rem;
}

.covid-19 .widget {
  padding: 3rem 0;
  border-bottom: 2px solid #efefef;
}
.covid-19 .widget h4 {
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
}
.covid-19 .widget ul {
  padding: 0;
  margin-bottom: 0.8rem;
}
.covid-19 .widget ul li {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.covid-19 .widget .counter {
  counter-reset: li-counter;
  margin-top: 6rem;
}
.covid-19 .widget .counter li {
  position: relative;
  padding-right: 10rem;
  margin-bottom: 5rem;
}
.covid-19 .widget .counter li:before {
  counter-increment: li-counter;
  content: counter(li-counter);
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 6rem;
  line-height: 7rem;
  background: #efefef;
  color: #64619f;
  font-size: 4rem;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}
.covid-19 .widget .counter li h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.covid-19 .widget .counter li p {
  width: 75%;
  font-size: 2rem;
}

/* js-modal-btn
===================*/
.js-modal-btn {
  cursor: pointer;
}
/* blog-widget
=====================*/
.blog-widget {
  height: 90vh;
  min-height: 500px;
  position: relative;
  color: #fff;
}
.blog-widget:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) 100%);
  z-index: 2;
}
.blog-widget img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.blog-widget .content {
  position: absolute;
  z-index: 5;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  padding: 0 4rem;
}
.blog-widget .content .date {
  position: relative;
  margin-bottom: 20px;
  /* overflow: hidden; */
}
.blog-widget .content .date:before {
  content: "";
  position: absolute;
  left: calc(100% + 1rem);
  top: 11px;
  height: 2px;
  width: 3rem;
  background-color: #fff;
}
.blog-widget .content .date span {
  font-size: 2.5rem;
}
.blog-widget .content .title {
}
.blog-widget .content .title h3 {
  font-size: 4rem;
}
/* blogs-widget
==========================*/
.blogs .section-heading {
  margin-bottom: 5rem;
}
.blogs .section-heading h4 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.blogs-widget {
}

.blogs-widget .widget {
  position: relative;
  height: 200px;
}
.blogs-widget .widget:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2),
    rgb(255 255 255) 80%
  );
  z-index: 2;
}

.blogs-widget .widget img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.blogs-widget .widget .content {
  position: relative;
  z-index: 5;
  max-width: 500px;
  padding-right: 1.2rem;
}
.blogs-widget .widget .date {
  font-size: 1.3rem;
  padding: 2rem 0 1.5rem;
}
.blogs-widget .widget .date span {
}
.blogs-widget .widget .title {
}
.blogs-widget .widget .title h5 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.blogs-widget .widget .title p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.3rem;
  overflow: hidden;
}
.blogs .slick-dots > li.slick-active {
  transform: scale(1.5);
}
.blogs .slick-dots > li {
  background-color: #d3d3d3;
}
.blogs .slick-dots {
  bottom: 1rem;
}
/* news-widget
======================*/
.news-widget {
  margin-bottom: 3rem;
}
.news-widget .image {
  border-radius: 7px;
  height: 175px;
  width: 100%;
  overflow: hidden;
}
.news-widget:hover img {
  transform: scale(1.1);
}
.news-widget img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.news-widget p {
  margin: 2rem 0 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}
.news-widget span {
  color: #797a79;
}
/*vertical-news
===================*/
.vertical-news .widget {
  position: relative;
  margin-bottom: 3rem;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
}
.vertical-news .widget .bookmark {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.vertical-news .image {
  height: 200px;
  border-radius: 7px;
  width: 100%;
  overflow: hidden;
}
.vertical-news .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.vertical-news .widget:hover img {
  transform: scale(1.1);
}

.vertical-news .widget .content {
  position: relative;
  z-index: 5;
  max-width: 500px;
}
.vertical-news .widget .date {
  font-size: 1.3rem;
  padding: 2rem 0 1.5rem;
}

.vertical-news .widget .title h5 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.vertical-news .widget .title p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.3rem;
  overflow: hidden;
}
/*  slick dots
=========================*/
button:focus {
  outline: 0;
}

.item:focus {
  outline: 0;
}

.slick-dots {
  position: absolute;
  left: 50px;
  bottom: 3rem;
}
.slick-dots > li {
  display: inline-block;
  height: 10px;
  background-color: #707070;
  width: 10px;
  margin-right: 15px;
  border-radius: 35px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.slick-dots > li.slick-active {
  background-color: #fff;
  transform: scale(1.9);
}
.slick-dots > li > button {
  display: none;
}
/* aside
============================*/
aside .heading h5 {
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 2rem;
}
aside:last-of-type {
  position: sticky;
  top: 2.5rem;
}
aside {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 7px;
  margin-bottom: 3rem;
}
aside .widget {
  margin-bottom: 3rem;
  position: relative;
}
aside .widget img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 7px;
  margin-left: 10px;
}

aside .widget span {
  color: #797a79;
  display: block;
  font-size: 1rem;
}
aside .widget p {
  color: #20211f;
  margin-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.3rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
aside .widget:hover p {
  font-weight: bold;
  color: #000;
}
.tags {
}
.tags a {
  background-color: #fff;
  display: inline-block;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
}
/*gallery
========================*/
.image-gallery {
  position: relative;
}
.gallery {
}
.gallery .image {
  height: 175px;
  padding: 0 15px 15px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.gallery .image img {
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  width: 100%;
}
.links .app-control .arrow,
.vacances .app-control .arrow,
.image-gallery .app-control .arrow {
  z-index: 9;
  transform: translateY(-50%) scale(0.7);
}
.links .app-control .arrow.next,
.vacances .app-control .arrow.next,
.image-gallery .app-control .arrow.next {
  right: -25px;
}
.links .app-control .arrow.prev,
.vacances .app-control .arrow.prev,
.image-gallery .app-control .arrow.prev {
  left: -25px;
}
.arrow.slick-disabled {
  display: none !important;
}
/*vacance-widget
==================*/
.vacances {
  position: relative;
}
.vacance-widget {
  background-color: #ffdd91;
  position: relative;
  height: 200px;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  border-radius: 7px;
}
.vacance-widget img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 155px;
}
.vacance-widget h6 {
  font-size: 1.5rem;
}
.vacance-widget p {
  font-size: 1.5rem;
}
.vacance-widget a {
  display: inline-block;
  background: #fff;
  padding: 0.8rem;
  width: 100px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
}
/* links 
===================*/
.links {
  position: relative;
}
.links .widget {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin: 15px;
  padding: 1.5rem;
}
.links .widget img {
  margin-bottom: 2rem;
  width: 65%;
  object-fit: contain;
}
/* 
=================*/
.news-details {
  padding: 0 4rem;
}
.news-details .date {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
}
.news-details .date:after {
  content: "";
  position: absolute;
  left: calc(100% + 1rem);
  top: 11px;
  height: 2px;
  width: 5rem;
  background-color: #000;
}
.news-details .share {
  padding: 0;
  margin: 2rem 0;
}
.news-details .share li {
  display: inline-block;
  margin-left: 1rem;
}

.news-details .share li a {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.news-details .share li a img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.news-details .share li a:hover {
  background-color: #e3e3e3;
}
.news-details h3 {
  font-size: 3.5rem;
}
.news-details > img {
  height: 450px;
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
}
.news-details .content {
  margin: 4rem 0;
}
.news-details .content p {
  color: #2f2f2f;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.parent.home-slider .image {
  position: absolute;
  bottom: -15rem;
}
